<load target="./lang" />

{@
	if(!$layout_info->primary_color)
		$layout_info->primary_color = '#f44336';


	$oMemberModel = getModel('member');
	$member_config = $oMemberModel->getMemberConfig();
	
	// theme-color
	Context::addMetaTag("theme-color", $layout_info->primary_color);
	
	if($layout_info->darkmode != 'N') Context::addMetaTag("color-scheme", "light dark");
	
	// Load styles
	$primary_color = sscanf($layout_info->primary_color, "#%02x%02x%02x");
	Context::set('layout_css_value', array(
		'primary_color_R' => $primary_color[0],
		'primary_color_G' => $primary_color[1],
		'primary_color_B' => $primary_color[2],
		
		'menu_position' => $layout_info->menu_position));
}
<load target="https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css" />
<load target="layout.less" vars="$layout_css_value" />
<load target="layout.js" />
<!--@if($_COOKIE['rx_color_scheme']=='dark')--><style>body { background: black;}</style><!--@end-->

<div id="simple_layout_skip"><a href="#content">{lang('skip_to_content')}</a></div>
<header class="layout_frame<!--@if($_COOKIE['rx_color_scheme']=='dark')--> layout_darkmode<!--@end-->">
	<div class="layout_header layout_canvas">
		<h1>
			<a href="<!--@if($layout_info->logo_url)-->{$layout_info->logo_url}<!--@elseif(Context::getDefaultUrl())-->{Context::getDefaultUrl()}<!--@else-->{getUrl('')}<!--@end-->" id="siteTitle">
				<block cond="!Context::getSiteTitle() && !$layout_info->LOGO_IMG && !$layout_info->LOGO_TEXT">Rhymix</block>
				<block cond="Context::getSiteTitle() && !$layout_info->LOGO_IMG && !$layout_info->LOGO_TEXT">{Context::getSiteTitle()}</block>
				<img src="{$layout_info->LOGO_IMG}" alt="{$layout_info->LOGO_TEXT}" cond="$layout_info->LOGO_IMG">
				<block cond="!$layout_info->LOGO_IMG && $layout_info->LOGO_TEXT">{$layout_info->LOGO_TEXT}</block>
			</a>
		</h1>
		<div id="layout_menu_toggle">
			<button class="layout_mobile_menu layout_mobile_menu--htx" data-target="layout_gnb">
				<span>{lang('common.menu')}</span>
			</button>
		</div>
		<div class="hside layout_pc">
			<div class="side">
				<!--// Search -->
				<form action="{getUrl()}" method="get" class="layout_search" no-error-return-url="true">
					<input type="hidden" name="vid" value="{$vid}" />
					<input type="hidden" name="mid" value="{$mid}" />
					<input type="hidden" name="act" value="IS" />
					<input type="text" name="is_keyword" value="{$is_keyword}" required placeholder="{lang('common.cmd_search')}" title="{lang('common.cmd_search')}" />
					<input type="submit" value="{lang('common.cmd_search')}" />
				</form>
				<!--// Search -->
			</div>
		</div>
	</div>
	<!--// Menu -->
	<nav class="layout_frame layout_menu<!--@if($_COOKIE['rx_color_scheme']=='dark')--> layout_darkmode<!--@end-->" id="layout_gnb">
		<ul>
			<li class="layout_dropdown">
				<a href="{getUrl('act', 'dispMemberLoginForm')}" cond="!$is_logged">{sprintf(lang('simple_hello'), lang('simple_guest'))}</a>
				<ul class="layout_dropdown-content" cond="!$is_logged">
					<li><a href="{getUrl('act', 'dispMemberLoginForm')}">{lang('member.cmd_login')}...</a></li>
					<li><a href="{getUrl('act', 'dispMemberSignUpForm')}" cond="$member_config->enable_join === 'Y'">{lang('member.cmd_signup')}...</a></li>
				</ul>
				<a href="{getUrl('act', 'dispMemberInfo', 'member_srl', '')}" cond="$is_logged">{sprintf(lang('simple_hello'), $logged_info->nick_name)}</a>
				<ul class="layout_dropdown-content" cond="$is_logged">
					<li><a href="{getUrl('act', 'dispMemberInfo', 'member_srl', '')}">{lang('member.cmd_view_member_info')}</a></li>
					<li cond="$logged_info->is_admin == 'Y'">
						<a href="{getUrl('', 'module','admin')}">{lang('common.cmd_management')}</a>
					</li>
					<li><a href="{getUrl('act', 'dispMemberLogout')}">{lang('member.cmd_logout')}</a></li>
				</ul>
			</li>
			<li loop="$GNB->list=>$key1,$val1" cond="$val1['href'] || $val1['list']" class="<!--@if($val1['selected'])-->active <!--@endif--><!--@if($val1['list'])-->layout_dropdown<!--@endif-->">
				<a href="{$val1['href']}" target="_blank"|cond="$val1['open_window']=='Y'"><span>{$val1['link']}</span></a>
				<ul cond="$val1['list']" class="layout_dropdown-content">
					<li loop="$val1['list']=>$key2,$val2" class="active"|cond="$val2['selected']">
						<a href="{$val2['href']}" target="_blank"|cond="$val2['open_window']=='Y'">{$val2['link']}</a>
						<ul cond="$val2['list']">
							<li loop="$val2['list']=>$key3,$val3" class="active"|cond="$val3['selected']"><a href="{$val3['href']}" target="_blank"|cond="$val3['open_window']=='Y'">{$val3['link']}</a></li>
						</ul>
					</li>
				</ul>
			</li>
			<li id="layout_search_link">
				<a href="{getUrl('vid', $vid, 'mid', $mid, 'act', 'IS')}"><span>{lang('common.cmd_search')}</span></a>
			</li>
		</ul>
	</nav>
	<!--// Menu -->
</header>
<div class="layout_frame layout_body<!--@if(in_array($layout_info->left_space, array('Y', 'YM')))--> layout_left_content<!--@end--><!--@if($_COOKIE['rx_color_scheme']=='dark')--> layout_darkmode<!--@end-->">
	<!--// VISUAL -->
	<div class="layout_body layout_canvas">
		<!--// CONTENT -->
		<div class="layout_content layout_left_content" cond="in_array($layout_info->left_space, array('Y', 'YM'))">
			<section class="layout_left layout_dropdown" loop="$GNB->list=>$key1,$val1" cond="$layout_info->left_space == 'YM' && $val1['selected']">
				<h1><a href="{$val1['href']}" target="_blank"|cond="$val1['open_window']=='Y'">{$val1['link']}</a></h1>
				<ul class="layout_dropdown-content" cond="$val1['list']">
					<li loop="$val1['list']=>$key2,$val2"><a href="{$val2['href']}" class="active"|cond="$val2['selected']" target="_blank"|cond="$val2['open_window']=='Y'">{$val2['link']}</a>
						<ul cond="$val2['list']">
							<li loop="$val2['list']=>$key3,$val3" class="active"|cond="$val3['selected']"><a href="{$val3['href']}" target="_blank"|cond="$val3['open_window']=='Y'">{$val3['link']}</a></li>
						</ul>
					</li>
				</ul>
			</section>
			<section class="layout_left" cond="trim($layout_info->left_content)">
				{$layout_info->left_content}
			</section>
		</div>
		<div class="layout_content" id="content">
			{$layout_info->before_content|noescape}
			{$content|noescape}
			{$layout_info->after_content|noescape}
		</div>
		<!--// CONTENT -->
		<div class="layout_outright" cond="trim($layout_info->right_content)">
			{$layout_info->right_content}
		</div>
	</div>
</div>
<footer class="layout_frame layout_footer<!--@if($_COOKIE['rx_color_scheme']=='dark')--> layout_darkmode<!--@end-->">
	<div class="layout_footer layout_canvas">
		<!--// Footer Menu -->
		<nav class="layout_menu" id="layout_fnb" cond="is_countable($FNB->list) && count($FNB->list)">
			<ul>
				<li loop="$FNB->list=>$key1,$val1" cond="$val1['href'] || $val1['list']" class="footer_menu">
					<a href="{$val1['href']}" target="_blank"|cond="$val1['open_window']=='Y'"><span>{$val1['link']}</span></a>
				</li>
			</ul>
		</nav>
		<!--// Footer Menu -->
		<!--// Language -->
		<a href="#" class="toggle layout_darkmode_toggle" cond="$layout_info->darkmode == 'Y'">{lang('simple_darkmode')}</a>
		<div class="layout_language" cond="is_countable($lang_supported) && count($lang_supported) > 1">
			<button type="button" class="toggle">Language: {$lang_supported[$lang_type]}</button>
			<ul class="selectLang">
				<li loop="$lang_supported=>$key,$val" cond="$key!= $lang_type"><button type="button" onclick="doChangeLangType('{$key}');return false;">{$val}</button></li>
			</ul>
		</div>
		<p cond="!$layout_info->FOOTER">Powered by <a href="https://rhymix.org" target="_blank" rel="noopener">Rhymix</a></p>
		<p cond="$layout_info->FOOTER">{$layout_info->FOOTER}</p>
	</div>
</footer>
<script>
var layout_darkmode_enabled = '{($layout_info->darkmode)?$layout_info->darkmode:'Auto'}';
</script>
